<!DOCTYPE html>
<html lang="ko">
<head>
      <!-- Google 태그 및 메타 태그는 유지 -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NWT0T3SGHL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NWT0T3SGHL');
  </script>
  <!-- ############### Google tag (gtag.js) ############### -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>확률업 카드팩 확률표</title>
</head>
<body>
    
</body>
</html>
