<!DOCTYPE html>
<html lang="ko">
<head>
  <!-- Google 태그 (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-NWT0T3SGHL"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-NWT0T3SGHL');
  </script>
   
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>사용자 프로필</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
  {% if is_mobile %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/profile-mobile.css') }}">
  {% else %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/profile.css') }}">
  {% endif %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">홈</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/simulator">카드 강화 시뮬레이터</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/randbox">이벤트 상자 확률</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/calc">계산기</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link" href="/profile">프로필</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/suggest">건의사항</a>
        </li>      
        <li class="nav-item">
          <a class="nav-link" href="/admin">관리자</a>
        </li>
      </ul>
      <button id="theme-toggle" class="btn btn-secondary ml-auto">다크 모드</button>
    </div>
  </nav>

  <div class="container">
    <br>

    <div class="profile-container">
      <div class="preview-container"></div>
      <form id="profile-form" class="my-3">
        <div class="form-group">
          <label for="usernameText">사용자 이름</label>
          <input id="usernameText" type="text" class="form-control" placeholder="사용자 이름을 입력하세요">
          <input id="username-color" type="color" value="#ffffff">
        </div>
        
        <div class="form-group">
          <label for="levelText">레벨</label>
          <input id="levelText" type="number" class="form-control" placeholder="레벨을 입력하세요">
        </div>
        
        <div class="form-group">
          <label for="fameText">명성</label>
          <input id="fameText" type="number" class="form-control" placeholder="명성을 입력하세요">
        </div>
        
        <div class="form-group">
          <label>승패</label>
          <input id="winsText" type="number" class="form-control" placeholder="승리 수">
          <input id="lossesText" type="number" class="form-control" placeholder="패배 수">
        </div>
        
        <!-- RP 섹션 수정 -->
        <div class="form-group">
          <label>RP</label>
          <div class="d-flex align-items-center">
            <input id="rpText" type="number" class="form-control mr-2" placeholder="RP">
            <input id="rankText" type="number" class="form-control mr-2" placeholder="순위">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="unrankedCheck">
              <label class="form-check-label" for="unrankedCheck">
                UNRANKED
              </label>
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="guildText">길드 이름</label>
          <input id="guildText" type="text" class="form-control" placeholder="길드 이름을 입력하세요">
        </div>

        <div class="form-group">
          <label for="guildInitial">길드 이니셜</label>
          <input id="guildInitial" type="text" class="form-control" placeholder="길드 이니셜을 입력하세요">
          
          <div style="display: flex; align-items: center; gap: 10px; margin-top: 5px;">
              <label for="guild-initial-color" style="margin: 0;">이니셜 색상:</label>
              <input id="guild-initial-color" type="color" value="#ffffff" title="이니셜 색상 선택">
              
              <label for="guild-background-color" style="margin: 0;">배경 색상:</label>
              <input id="guild-background-color" type="color" value="#000000" title="배경 색상 선택">
          </div>
      </div>
      
        
        <div class="form-group">
          <label for="bioText">자기소개</label>
          <input id="bioText" type="text" class="form-control" placeholder="자기소개를 입력하세요">
        </div>
        
        <div class="form-group">
          <label for="heart-color">하트 색상</label>
          <input id="heart-color" type="color" value="#ffffff">
        </div>
      </form>
    </div>
    <div id="profile-info" class="mt-4"></div>
  </div>
 
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/profile.js') }}"></script>
  <script src="{{ url_for('static', filename='js/darkmode.js') }}"></script>
</body>
</html>
